/* Sidebar */
.sidebar {
    -fx-background-color: #fafaef; /* Main color */
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-alignment: top-center;
    -fx-pref-width: 250px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.sidebar-collapsed {
    -fx-pref-width: 60px;
}

/* Sidebar Buttons */
.sidebar-button {
    -fx-background-color: #145d95; /* Other color */
    -fx-text-fill: #ecefe5; /* Main color */
    -fx-font-size: 14px;
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-weight: bold;
    -fx-padding: 12px 20px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-width: 220px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.sidebar-button:hover {
    -fx-background-color: #ffffff; /* Light Gray */
    -fx-text-fill: #074778; /* Other color */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

.sidebar-button:pressed {
    -fx-background-color: #5395c6; /* Other color */
    -fx-text-fill: #ECF4D6; /* Main color */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
}

/* Sidebar Toggle Button */
.sidebar-toggle-button {
    -fx-background-color: #81a8c5; /* Other color */
    -fx-text-fill: #ECF4D6; /* Main color */
    -fx-font-size: 18px;
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-width: 220px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.sidebar-toggle-button:hover {
    -fx-background-color: #ECF4D6; /* Main color */
    -fx-text-fill: #81a8c5; /* Other color */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}